<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<substitutionProperty name="jxclog.base" value="E://logs/jxc" />
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
      <encoder charset="UTF-8">
          <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{0}:%line - %msg%n</pattern>
      </encoder>
    </appender>

    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${jxclog.base}/jxc.log</File>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{0}:%line - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${jxclog.base}/jxc.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
    </appender>

    <!-- Error Level -->
	<appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${jxclog.base}/jxc_error.log</File>
		 <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{0}:%line - %msg%n</pattern>
        </encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${jxclog.base}/jxc_error.%d{yyyy-MM-dd}.log</FileNamePattern>
		</rollingPolicy>
	</appender>

   <appender name="monitor" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${jxclog.base}/jxc_monitor.log</File>
		 <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{0}:%line - %msg%n</pattern>
        </encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${jxclog.base}/jxc_monitor.%d{yyyy-MM-dd}.log</FileNamePattern>
		</rollingPolicy>
	</appender>


	<logger name="org.apache.ibatis" level="INFO">
		<appender-ref ref="console"/>
	</logger>

	<logger name="java.sql" level="INFO">
	    <appender-ref ref="console"/>
	</logger>

 <!--  	<logger name="org.springframework" level="WARN">
		<appender-ref ref="console"/>
	</logger> -->

    <root level="info">
    	<appender-ref ref="console" />
        <appender-ref ref="info" />
        <appender-ref ref="error" />
    </root>

    <!-- 监控日志 -->
    <logger name ="monitor">
		<appender-ref ref="monitor" />
	</logger>
</configuration>