<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lnk.jxc.dao.OrderInfoMapper" >
  <resultMap id="BaseResultMap" type="com.lnk.jxc.model.OrderInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="profit" property="profit" jdbcType="REAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="TINYINT" />
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    id, order_no, price, profit, DATE_FORMAT(create_time,'%Y-%m-%d %T') as create_time, user_name, user_id
    from order_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT 
	order_no,price,profit,user_name,DATE_FORMAT(ord.create_time,'%Y-%m-%d %T')AS create_time
	FROM order_info ord
	ORDER BY ord.create_time DESC
  </select>
  
  <select id="selectTotal" resultType="com.lnk.jxc.response.HomeReportDto" >
    SELECT 
	COUNT(*) as total,SUM(price) as totalPrice
	FROM order_info
  </select>
  
  <select id="selectTotalByMonth" parameterType="java.util.Map" resultType="com.lnk.jxc.response.ReportOrderMonthDto">
    SELECT 
	DATE_FORMAT(ord.create_time,'%Y-%m') AS month,
	COUNT(*) AS num,SUM(ord.price) AS price,SUM(ord.profit) AS profit
	FROM order_info ord
	WHERE DATE_FORMAT(ord.create_time,'%Y-%m') BETWEEN DATE_FORMAT(#{startDate},'%Y-%m') AND DATE_FORMAT(#{endDate},'%Y-%m')
	GROUP BY DATE_FORMAT(ord.create_time,'%Y-%m')
	ORDER BY DATE_FORMAT(ord.create_time,'%Y-%m') DESC
  </select>
  
  <select id="selectTotalByDate" resultType="com.lnk.jxc.response.HomeChartDto" parameterType="java.lang.String">
    SELECT 
	COUNT(*) AS num,SUM(price) AS price
	FROM order_info
	WHERE DATE_FORMAT(create_time,'%Y-%m-%d') = #{date}
  </select>
  
  <insert id="insert" parameterType="com.lnk.jxc.model.OrderInfo"  useGeneratedKeys="true" keyProperty="id">
    insert into order_info (order_no, price, 
      profit, create_time, user_name, 
      user_id)
    values (#{orderNo,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, 
      #{profit,jdbcType=REAL}, NOW(), #{userName,jdbcType=VARCHAR}, 
      #{userId,jdbcType=TINYINT})
  </insert>
</mapper>