<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lnk.jxc.dao.OrderProductMapper" >
  <resultMap id="BaseResultMap" type="com.lnk.jxc.model.OrderProduct" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="TINYINT" />
    <result column="rate" property="rate" jdbcType="REAL" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="bid" property="bid" jdbcType="REAL" />
  </resultMap>
  
  <resultMap id="PrintMap" type="com.lnk.jxc.response.OrderProductDto" >
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="names" property="productName" jdbcType="VARCHAR" />
    <result column="norms" property="norms" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="TINYINT" />
    <result column="rate" property="rate" jdbcType="REAL" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="total" property="total" jdbcType="REAL" />
  </resultMap>
  
   <select id="selectByOrderId" resultMap="PrintMap" parameterType="java.lang.Integer" >
	    SELECT
	    opro.order_id,opro.product_id,opro.rate,
		pro.names,pro.norms,pro.unit,pro.price,opro.num,ROUND(opro.num*pro.price,2) as total
		FROM order_product opro
		INNER JOIN product pro ON opro.product_id = pro.id
		WHERE opro.order_id = #{orderId,jdbcType=INTEGER}
  </select>
  
  <insert id="insertBatch" parameterType="java.util.List" >
    INSERT INTO order_product (order_id, product_id, 
      num, rate, price, bid)
    VALUES 
    <foreach item="item" index="index" collection="list" separator=",">
      (#{item.orderId,jdbcType=INTEGER}, #{item.productId,jdbcType=INTEGER}, 
      #{item.num,jdbcType=TINYINT}, #{item.rate,jdbcType=REAL}, #{item.price,jdbcType=REAL}, #{item.bid,jdbcType=REAL})
    </foreach>
  </insert>
</mapper>