<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lnk.jxc.dao.StockMapper" >
  <resultMap id="BaseResultMap" type="com.lnk.jxc.model.Stock" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="norms" property="norms" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="CHAR" />
    <result column="factory" property="factory" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="TINYINT" />
  </resultMap>
  
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT 
    pro.names as product_name,pro.norms,pro.unit,pro.factory,stock.num,
    DATE_FORMAT(stock.create_time,"%Y-%m-%d %H:%i:%s") as create_time,user_name
    FROM stock stock
    LEFT JOIN product pro ON pro.id = stock.product_id
    ORDER BY stock.create_time DESC
  </select>
  
  <insert id="insert" parameterType="com.lnk.jxc.model.Stock" >
    INSERT INTO stock (product_id, product_name, 
      num, create_time, user_name, user_id)
    VALUES (#{productId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, 
      #{num,jdbcType=TINYINT}, NOW(), #{userName,jdbcType=VARCHAR}, #{userId,jdbcType=TINYINT})
  </insert>
</mapper>